<h1>Login</h1>
<form action="/post-example" method="POST">
	<label for="username">Username: </label>
	<input type="text" name="user" id="username" placeholder="Pls type your username">
	<label for="password">Password: </label>
	<input type="password" name="password" id="password" placeholder="Pls type your Password">
	<button type="submit">Log In</button>
</form>